---
name: Auto-approve Renovate PRs

# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: >-
      github.actor == 'renovate[bot]' &&
      github.actor_id == '29139614' &&
      github.event.pull_request.head.repo.full_name == github.repository
    steps:
      # yamllint disable-line rule:line-length
      - uses: hmarr/auto-approve-action@f0939ea97e9205ef24d872e76833fa908a770363 # v4.0.0
