name: Auto-approve Renovate PRs

on: pull_request_target

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]'
    steps:
      - uses: hmarr/auto-approve-action@v4
