---
name: Auto-approve Renovate PRs

# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]'
    steps:
      - uses: hmarr/auto-approve-action@v4
